/* =====================
NORMALIZE SETUP
===================== */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* =====================
GOOGLE FONT TYPOGRAPHY 
===================== */

/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Ruda', sans-serif; */

  /* color: #FF9933; orange*/
  /* color: #003399; blue*/
  /* color: #99cccc; teal*/
  /* color: #cccccc; light grey*/
  /* color: #ffffff; white*/
  /* color: #000000; black*/

/* =====================
GENERAL STYLES
===================== */
html {
  font-family: 'Ruda', sans-serif;
	font-size: 125%; /* setting font-size default to 20px*/
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, li {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 2.5rem; /* font size of 35px*/
}

h2 {
	font-weight: bold;
	font-size: 1.75rem; /* font size of 35px*/
}

h3,
h4 {
	font-size: 1.2rem; /* font size of 24px*/
}


button,
p {
	font-size: 1rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none; 
	cursor: pointer;
}

button {
	border: 0;
}


/* =====================
HEADER STYLES
===================== */
header {
	background-color: #cccccc;
	padding: 3rem 0;
  /* height:100vh; */
	min-height: 50vh;
  position:relative
}

.headerContent {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  height:100%;
}

nav {
	display: flex;
	text-align: right;
	justify-content: space-between;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	flex:1 0 33.33%;
}


/* =====================
ABOUT STYLES
===================== */


/* =====================
EXPERIENCE AND SKILL STYLES
===================== */



/* =====================
PROJECT STYLES
===================== */





/* ========================================
FOOTER SECTION
======================================== */




/* ========================================
===========================================
MEDIA QUERIES - Desktop first to mobile
===========================================
======================================== */

/* responsive design for small desktop screens */
@media (max-width: 940px) {}

/* responsive design for tablets */
@media (max-width: 768px) {}

/* responsive design for phones */
@media (max-width: 480px) {}