/* =====================
ABOUT STYLES
===================== */

.introContainer {
  display: flex;
  flex-direction: row;
  padding: 4rem 0;
  position: relative;
}
.introText {
  /* width: 55%; */
  margin-right: 50px;
}
.introText p {
  margin: 15px 0;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.8px;
}
.introText p:first-child {
  margin: 0;
}
.introText .helloText {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.8px;
  color: black;
}
.introAssets {
  align-self: center;
}
.resumeButton {
  position: relative;
  max-width: 200px;
  background: linear-gradient(
    180deg,
    rgba(46, 140, 153, 0.57) 0%,
    rgba(168, 173, 174, 0.781319) 92.65%
  );
  transition: 0.3s;
  border-radius: 10px;
  margin: 30px 0 0;
  padding: 8px 8px;
  z-index: 1;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumeButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(168, 173, 174, 0.781319) 8%,
    rgba(46, 140, 153, 0.57) 100%
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.resumeButton:hover::before,
.resumeButton:focus::before {
  opacity: 1;
}

.resumeButton span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: black;
  margin-right: 15px;
}

.introAssets img {
  max-width: 464px;
  box-shadow: 10px 10px 10px grey;
  margin-right: 10px;
}

/* Old about styles */

.about {
  padding: 4rem 0;
}

.aboutContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.aboutContent {
  width: calc(100% - 2rem - (9rem * 2 + 1rem));
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.aboutContent a {
  background-color: #e4e4e4;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  color: $blue;
  font-weight: bold;
}

.aboutContent a:hover,
.aboutContent a:focus {
  background-color: #d5d5d5;
  /* color: #ff9933; */
  text-decoration: underline;
  text-underline-offset: 4px;
  /* border: 1px solid #00ff00; */
}

.aboutContent p a.aboutContentLinks {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  color: $blue;
  font-weight: bold;
}

.aboutContent p {
  padding-bottom: 1rem;
  line-height: 1.5;
}

.aboutInfoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutFacts {
  width: calc(9rem * 2 + 1rem);
  height: calc(7.95rem * 2 + 1rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutBox {
  text-transform: uppercase;
  width: 9rem;
  height: 7.95rem;
  box-shadow: 0 0 1rem 0.1rem #dadada;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif;
  color: $blue;
}

.aboutBox span {
  display: block;
  padding-bottom: 1rem;
  font-size: 2rem;
}
