/* =====================
EXPERIENCE AND SKILL STYLES
===================== */
.experience {
  background-color: #99cccc;
  padding: 4rem 0;
}

.iconContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem 0;
  padding: 2rem 0;
}

.icon {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.iconName {
  text-align: center;
}
