/* =====================
HEADER STYLES
===================== */
header {
  background-color: #f1f1f1;
}

.headerNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  position: relative;
}

.logoContainer {
  width: 3rem;
  display: flex;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.75rem 0;
  margin-right: -1rem;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  color: #003399;
  cursor: pointer;
  background-color: transparent;
}

.navLink,
.hamburger {
  color: #003399;
  transition: 0.5s ease;
  padding: 1rem;
  text-transform: uppercase;
}

.navLink:hover,
.navLInk:focus {
  /* color: #ff9933; */
  /* background-color: #ffffff; */
  text-decoration: underline;
  text-underline-offset: 4px;
}
.hamburger:hover {
  /* color: #ff9933; */
}

h1 {
  padding-bottom: 1.5rem;
}

h3 {
  font-weight: normal;
  letter-spacing: 1px;
}

.headerText {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.helloText {
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 1.75rem;
  color: #003399;
  font-weight: normal;
}
.firstName {
  display: block;
}

.headerImg {
  max-width: 500px;
  height: auto;
}

.modeToggleCheck {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toggleCheckbox {
  display: none;
}
.toggleLabel {
  width: 100px;
  height: 50px;
  background: #96dcee;
  border-radius: 50px;
  border: 5px solid #72cce3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
.toggleLabel:before {
  -webkit-animation-name: reverse;
  animation-name: reverse;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  content: "";
  width: 38px;
  height: 38px;
  border: 3px solid #f5eb71;
  top: 1px;
  left: 2px;
  position: absolute;
  border-radius: 38px;
  background: #fffaa8;
}
.toggleLabelBackground {
  width: 8px;
  height: 3px;
  border-radius: 5px;
  position: relative;
  background: white;
  left: 57px;
  top: 17px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.toggleLabelBackground::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 17px;
  height: 4px;
  border-radius: 9px;
  background: white;
  left: -8px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.toggleLabelBackground::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 19px;
  height: 3px;
  border-radius: 5px;
  background: white;
  left: -2px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.toggleCheckbox:checked + .toggleLabel {
  background: #6b7abb;
  border-color: #5d6baa;
}
.toggleCheckbox:checked + .toggleLabel:before {
  background: white;
  border-color: #e8e8ea;
  -webkit-animation-name: switch;
  animation-name: switch;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.toggleLabel:after {
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  -webkit-box-shadow: #e8e8ea -13px 0 0 2px, #e8e8ea -19px 9px 0 -1px;
  box-shadow: #e8e8ea -13px 0 0 2px, #e8e8ea -19px 9px 0 -1px;
  left: 75px;
  top: 11px;
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}
.toggleCheckbox:checked + .toggleLabel:after {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
  opacity: 1;
}
.toggleCheckbox:checked + .toggleLabel .toggleLabelBackground {
  left: 32px;
  width: 3px;
}
.toggleCheckbox:checked + .toggleLabel .toggleLabelBackground::before {
  width: 3px;
  height: 3px;
  top: -11px;
}
.toggleCheckbox:checked + .toggleLabel .toggleLabelBackground::after {
  width: 3px;
  height: 3px;
  left: -18px;
  top: 10px;
}
@-webkit-keyframes reverse {
  0% {
    left: 50px;
    width: 38px;
  }
  60% {
    left: 20px;
    width: 68px;
  }
  100% {
    left: 2px;
  }
}
@keyframes reverse {
  0% {
    left: 50px;
    width: 38px;
  }
  60% {
    left: 20px;
    width: 68px;
  }
  100% {
    left: 2px;
  }
}
@-webkit-keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 68px;
  }
  100% {
    left: 50px;
    width: 38px;
  }
}
@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 68px;
  }
  100% {
    left: 50px;
    width: 38px;
  }
}
